.hisDiv{
    margin-left: 80px;
    
}
.hisDiv h1{
    font-weight: 800;
    color: black;
    font-size: 23px;
    margin-bottom: 40px;
}

.header{
    font-size: 20px;
    font-weight: 600;
    width: 300px;
    height: 60px;
    padding-left: 23px;
    padding-top: 15px;
    margin-left: 30px;
    margin-bottom: 40px;
    color: #FFC533;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
    border-radius: 30px;
}
.hisDiv input{
    font-size: 20px;
    font-weight: 400;
    width: 350px;
    height: 60px;
    padding-left: 23px;
  
    margin-left: 30px;
    margin-bottom: 40px;
    color: #FFC533;  
}
.hisDiv img{
    width: 250px;
    height: 250px;
    margin-left: 250px;
}
.nodata{
    display: flex;
}
.nodata img{
    width: 250px;
    height: 250px;
}
.hisDiv input{
    margin-left: 40px;
    color: rgb(43, 41, 41);
}

.hisDiv h2{
    margin-top: 22px;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 500;
    color:#3f3929;
}
.hisDiv button{   
        background-color: rgb(23, 23, 2);
        color: rgb(255, 251, 251);
        width: 200px;
        height: 40px;
        margin-top: 2px;
        margin-bottom: 22px;
        border-radius: 30px;
        padding: 0 15px;
        cursor: pointer;
        position: relative;
        transition: background-color 0.3s ease;
    
     }
.hisDiv button:hover {
        
        background-color: #575655;
        color: rgb(255, 249, 249);
}
.hisDiv p{
    color: #3f3929;  
    font-size: 20px;
    font-weight: 300;
}
.hisDiv strong{
    color: #FFC533;  
    font-size: 20px;
    font-weight: 600;
}
.hisDiv hr{
    background-color: black;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}
/* Responsive styles */
@media (max-width: 768px) {
    .hisDiv {
        margin-left: 20px;
    }

    .header, .hisDiv input {
        width: 100%;
        margin-left: 0;
    }

    .hisDiv img {
        margin-left: 0;
    }

    .hisDiv button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .hisDiv h1 {
        font-size: 18px;
    }

    .header, .hisDiv input {
        height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .hisDiv img {
        width: 150px;
        height: 150px;
    }

    .hisDiv button {
        height: 30px;
        padding: 0 10px;
    }
}